.vscode/**
.vscode-test/**
out/**
**/node_modules/**
**/.parcel-cache/**
web/src/**
src/**
.gitignore
.yarnrc
.append.md
.prepend.md
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.vsix
